.section-1-conseil{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.first-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.second-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.third-block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}