.acceuil{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__img{
        margin-left: 5rem;
        width: 40%;
    }
    &__content{
    width: 50%;
    height: auto;
    padding: 2rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: $text-font;
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    line-height: 2rem;
    }
    &__title{
    color:$blue;
    line-height: 4rem;
    margin-bottom: 2rem;
    }
    &__paragraph{
    color: $gray;
    line-height: 3.5rem;
    word-spacing: 0.5rem;
    }
    &__button{
    background-color: $blue;
    width: 60% ;
    height: 4rem ;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 6px;
    a{
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 2;
        color: white;
        padding: 5px;
        text-transform: capitalize;
    }
}
}